/* FLEX NO MODO ROW  */

.flex {
    display: flex;
    /*justify-content: space-around; !* space-between, space-evenly, center, start, end *!*/
    align-items: center; /* flex-end, flex-start */
    border: 3px solid black;
    background-color: #4e57ff4f;
    margin: 50px 20px;
    /*gap: 20px; !* Adiciona um espaçamento igual em cada um dos elementos dentro do container flex, responsável pelo espaçamento (calhas) entre colunas e linhas *!*/
}

.flex2 {
    display: flex;
    /*justify-content: space-around; !* space-between, space-evenly, center, start, end *!*/
    align-items: center; /* flex-end, flex-start */
    border: 3px solid black;
    background-color: #4e57ff4f;
    margin: 50px 20px;
    /*gap: 20px; !* Adiciona um espaçamento igual em cada um dos elementos dentro do container flex, responsável pelo espaçamento (calhas) entre colunas e linhas *!*/
}

.flex3 {
    display: flex;
    /*justify-content: space-around; !* space-between, space-evenly, center, start, end *!*/
    align-items: center; /* flex-end, flex-start */
    flex-wrap: wrap; /* Quebra os itens para se posicionarem na tela de acordo o width, vai colocando os itens abaixo  */
    border: 3px solid black;
    background-color: #4e57ff4f;
    margin: 50px 20px;
    /*gap: 20px; !* Adiciona um espaçamento igual em cada um dos elementos dentro do container flex, responsável pelo espaçamento (calhas) entre colunas e linhas *!*/
}

.item {
    padding: 25px;
    background-color: #4e56ff;
    border: 3px solid #48d359;
    margin: 0;
    font-size: 24px;
    font-weight: 900;
}

.item2 {
    padding: 40px 25px;
    background-color: #4e56ff;
    border: 3px solid #48d359;
    margin: 0;
    font-size: 24px;
    font-weight: 900;
}

/* ---------------------------------------------------------------------------------------------------------------  */

/* FLEX NO MODO Column  */

.flex_colum {
    display: flex;
    flex-direction: column;
    justify-content: center; /* flex-end, flex-start,  space-between, space-evenly, */
    align-items: center; /* self-end, self-start, stretch */
    border: 3px solid black;
    background-color: #4e57ff4f;
    margin: 50px 20px;
    /*gap: 20px; !* Adiciona um espaçamento igual em cada um dos elementos dentro do container flex, responsável pelo espaçamento (calhas) entre colunas e linhas *!*/
}

/*.item3 {*/
/*    padding: 40px 25px;*/
/*    background-color: #4e56ff;*/
/*    border: 3px solid #48d359;*/
/*    margin: 0;*/
/*    font-size: 24px;*/
/*    font-weight: 900;*/
/*}*/



/* ---------------------------------------------------------------------------------------------------------------  */

/* Flex item  */


.flex4 {
    display: flex;
    align-items: center;
    border: 3px solid black;
    background-color: #4e57ff4f;
    margin: 50px 20px;
    height: 200px;
    justify-content: center;
    /*gap: 20px; !* Adiciona um espaçamento igual em cada um dos elementos dentro do container flex, responsável pelo espaçamento (calhas) entre colunas e linhas *!*/
}

.start {
    align-self: flex-start;
}

.end {
    align-self: flex-end;
}

.stretch {
    align-self: stretch;
}



.flex5 {
    display: flex;
    align-items: center;
    border: 3px solid black;
    background-color: #4e57ff4f;
    margin: 50px 20px;
    height: 200px;
    justify-content: center;
    /*gap: 20px; !* Adiciona um espaçamento igual em cada um dos elementos dentro do container flex, responsável pelo espaçamento (calhas) entre colunas e linhas *!*/
}

.item5 {
    padding: 25px;
    background-color: #4e56ff;
    border: 3px solid #48d359;
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    flex-grow: 1;
}

.flex6 {
    display: flex;
    align-items: center;
    border: 3px solid black;
    background-color: #4e57ff4f;
    margin: 50px 20px;
    height: 200px;
    justify-content: center;
    /*gap: 20px; !* Adiciona um espaçamento igual em cada um dos elementos dentro do container flex, responsável pelo espaçamento (calhas) entre colunas e linhas *!*/
}

.item6 {
    padding: 25px;
    background-color: #4e56ff;
    border: 3px solid #48d359;
    margin: 0;
    font-size: 24px;
    font-weight: 900;
}

.start6 {
    align-self: flex-start;
    flex-grow: 1;
}

.end6 {
    align-self: flex-end;
}

.stretch6 {
    align-self: stretch;
}



.flex7 {
    display: flex;
    align-items: center;
    border: 3px solid black;
    background-color: #4e57ff4f;
    margin: 50px 20px;
    height: 200px;
    justify-content: center;
    /*gap: 20px; !* Adiciona um espaçamento igual em cada um dos elementos dentro do container flex, responsável pelo espaçamento (calhas) entre colunas e linhas *!*/
}

.item7 {
    padding: 25px;
    background-color: #4e56ff;
    border: 3px solid #48d359;
    margin: 0;
    font-size: 24px;
    font-weight: 900;
}

.second {
    order: 4;
}

.start7 {
    align-self: flex-start;
    flex-grow: 1;
    order: 0;
}

.end7 {
    align-self: flex-end;
    order: 1;
}

.stretch7 {
    align-self: stretch;
    order: 4;
}
